**/.SD_Store
   ../-1.14-windows.xml
        ../.Ld9VirtualBox/
        ../.android/
        ../.bash_history
        ../.gitconfig
        ../.lesshst
        ../.quokka/
        ../.ssh/
        ../.vscode/
        ../AppData/
        ../Contacts/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../Favorites/
        ../IntelGraphicsProfiles/
        ../Links/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Pictures/
        ../Saved Games/
        ../Searches/
        ../Videos/
        ../mintty.2023-05-24_12-59-12.png
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini